html,body {
	height: 100%;
	overflow: hidden;
}

body {
	margin: 0px;
	font-family: Helvetica Light, Verdana, Arial, sans-serif;
	font-size: 24pt;
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100% Auto;
}

div {
	margin-left: 5%;
	width: 90%;
}

ul,ol {
	margin-left: 10%;
	margin-top: 0%;
	margin-bottom: 0%;
	width: 80%;
}

table {
	border: dashed 1pt black;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1,h2,h3 {
	margin-top: 0%;
	margin-bottom: 0%;
}

.categoriebalk {
	font-size: 0.5em;
	font-weight: bold;
	text-align: right;
	background-color: #993911;
	margin: 0%;
	width: 95%;
	padding-right: 5%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
}

.titelbalk {
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	background-color: #CC7754;
	margin: 0%;
	margin-bottom: 5%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	width: 100%;
}

.code {
	font-family: Lucida Console, Courier New;
	font-size: 0.8em;
	background-color: #C3FFC3;
	width: 78%;
	margin-left: 10%;
	padding: 1%;
	white-space: pre-wrap;
}

.kleurenschema {
	border-color: #FF8383;
	border-top-color: #7ECC54;
	border-bottom-color: #C3FFC3;
	border-left-color: #993911;
	border-right-color: #CC7754;
}